<h1>Usuários</h1>
<div class="cards">
  <div class="card" *ngFor="let usuario of usuarios">
    <h3>{{ usuario.nome }}</h3>
    <p id="highlight">CPF: {{ usuario.cpf }}</p>
    <p>Telefone: {{ usuario.telefone }}</p>
    <p>Email: {{ usuario.email }}</p>
    <p>Administrador: {{ usuario.isAdmin ? "Sim" : "Não" }}</p>
    <a routerLink="/usuarios/editar/{{ usuario._id }}"
      ><button>Editar</button></a
    >
    <button (click)="excluir(usuario._id!)">Excluir</button>
    <button (click)="mudarPermissao(usuario)">Mudar Permissões</button>
    <a routerLink="/agendamentos/usuario/{{ usuario._id }}"
      ><button>Ver Agendamentos</button></a
    >
  </div>
</div>
