<nav>
  <h1>Desafio Angular</h1>
  <ul class="menu">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">Sobre</a></li>
    <div class="dropdown">
      <li>Funcionários</li>
      <div class="dropdown-content">
        <a routerLink="/funcionarios">Lista de Funcionários</a>
        <a routerLink="/funcionarios/new">Novo Funcionário</a>
      </div>
    </div>
    <div class="dropdown">
      <li>Cardápio</li>
      <div class="dropdown-content">
        <a routerLink="/cardapio/comidas">Comidas</a>
        <a routerLink="/cardapio/comidas/new">Nova Comida</a>
        <a routerLink="/cardapio/bebidas">Bebidas</a>
        <a routerLink="/cardapio/bebidas/new">Nova Bebida</a>
      </div>
    </div>
    <div class="dropdown">
      <li>Eventos</li>
      <div class="dropdown-content">
        <a routerLink="/eventos">Lista de Eventos</a>
        <a routerLink="/eventos/new">Novo Evento</a>
        <a routerLink="/agendamentos">Agendamentos</a>
        <a routerLink="/agendamentos/new">Novo Agendamento</a>
      </div>
    </div>
    <div class="dropdown">
      <li>Fornecedores</li>
      <div class="dropdown-content">
        <a routerLink="/fornecedores">Lista de Fornecedores</a>
        <a routerLink="/fornecedores/new">Novo Fornecedor</a>
      </div>
    </div>
  </ul>
  <div class="botoes">
    <button routerLink="/login">Faça seu Login</button>
    <button routerLink="/cadastro">Cadastre-se</button>
  </div>
</nav>
