<nav>
  <h1>Desafio Angular</h1>
  <ul class="menu">
    <li>
      <span><a routerLink="/">Home</a></span>
    </li>
    <li>
      <span><a routerLink="/about">Sobre</a></span>
    </li>
    <li>
      <div class="dropdown">
        <span>Funcionários</span>
        <div class="dropdown-content">
          <li><a routerLink="/funcionarios">Lista de Funcionários</a></li>
          <li><a routerLink="/funcionarios/new">Novo Funcionário</a></li>
        </div>
      </div>
    </li>
    <div class="dropdown">
      <li><span>Cardápio</span></li>
      <div class="dropdown-content">
        <li><a routerLink="/cardapio/comidas">Comidas</a></li>
        <li><a routerLink="/cardapio/comidas/new">Nova Comida</a></li>
        <li><a routerLink="/cardapio/bebidas">Bebidas</a></li>
        <li><a routerLink="/cardapio/bebidas/new">Nova Bebida</a></li>
      </div>
    </div>
    <div class="dropdown">
      <li><span>Eventos</span></li>
      <div class="dropdown-content">
        <li><a routerLink="/eventos">Lista de Eventos</a></li>
        <li><a routerLink="/eventos/new">Novo Evento</a></li>
        <li><a routerLink="/agendamentos">Agendamentos</a></li>
        <li><a routerLink="/agendamentos/new">Novo Agendamento</a></li>
      </div>
    </div>
    <div class="dropdown">
      <li><span>Fornecedores</span></li>
      <div class="dropdown-content">
        <li><a routerLink="/fornecedores">Lista de Fornecedores</a></li>
        <li><a routerLink="/fornecedores/new">Novo Fornecedor</a></li>
      </div>
    </div>
  </ul>
  <div class="botoes">
    <button routerLink="/login">Faça seu Login</button>
    <button routerLink="/cadastro">Cadastre-se</button>
  </div>
</nav>
