<h1>Faça seu Login</h1>
<div class="form-card">
  <form (ngSubmit)="enviar()" [formGroup]="loginForm" #formDir="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" required />
    </div>
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input
        [type]="visibilidade ? 'text' : 'password'"
        id="senha"
        formControlName="senha"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="checkbox"
        id="mostrar-senha"
        (click)="mostrarSenha()"
      /><label for="mostrar-senha">Mostrar senha</label>
    </div>
    <div class="button">
      <button type="submit">Fazer Login</button>
    </div>
  </form>
</div>
