<h2>Quem somos</h2>
<div class="content">
  <div class="content-left">
    <p>
      A Go!Pub é uma plataforma de gerenciamento de pequenos estabelecimentos
      comerciais.
    </p>
    <p>
      Foi desenvolvida inicialmente durante o treinamento GFT Start #5 / GFT
      Start Woman de 2022.
    </p>
    <p>
      A Go!Pub surgiu com a mente focada em pequenos empreendedores que, por
      muitas vezes, não conseguem acesso a boas ferramentas para gerenciar seu
      estabelecimento por questões financeiras ou logísticas.
    </p>
  </div>
  <div class="content-right">
    <img class="image" src="/assets/images/gft-pub-about.jpg" />
  </div>
</div>
