h2 {
  text-align: center;
}
p {
  padding: 2rem;
  font-size: 24px;
}

.content {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-left {
  width: 100%;
}

.image {
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
