<div class="card">
  <div class="card-left">
    <h2>Gerencie tudo sobre seu pub</h2>
    <p>
      Com o Go!Pub, o controle do que acontece no seu pub é simples e fácil.
    </p>
    <br />
    <p>Saiba mais abaixo.</p>
  </div>
  <div class="card-right">
    <img class="image" src="assets/images/pub-home.jpg" />
  </div>
</div>

<div class="card">
  <div class="card-left">
    <img class="image" src="assets/images/pub-show-home.jpg" />
  </div>
  <div class="card-right">
    <h2>Eventos e presenças</h2>
    <p>
      Saiba quem irá participar de seus eventos e shows. Planeje-se de acordo.
    </p>
    <div class="button-large">
      <a routerLink="/eventos"><button>Ver eventos</button></a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-left">
    <h2>Funcionários</h2>
    <p>Tenha fácil acesso às informações de seus funcionários.</p>
    <div class="button-large">
      <a routerLink="/funcionarios"><button>Ver Funcionários</button></a>
    </div>
  </div>
  <div class="card-right">
    <img class="image" src="assets/images/bartender-pub-home.png" />
  </div>
</div>

<div class="card">
  <div class="card-left">
    <img class="image" src="assets/images/menu-pub-home.jpg" />
  </div>
  <div class="card-right">
    <h2>Cardápio</h2>
    <p>Veja e edite seu menu de pratos e drinks com apenas alguns cliques.</p>
    <div class="button-large">
      <a routerLink="/cardapio/comidas"><button>Ver Comidas</button></a>
      <a routerLink="/cardapio/bebidas"><button>Ver Bebidas</button></a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-left">
    <h2>Tudo na ponta dos seus dedos</h2>
    <p>Veja tudo que precisar de qualquer lugar com um só login.</p>
    <div class="button-large">
      <a routerLink="/cadastro"><button>Comece Agora</button></a>
    </div>
  </div>
  <div class="card-right">
    <img class="image" src="assets/images/praticidade-pub-home.jpg" />
  </div>
</div>
