<h1>Funcionários</h1>
<div class="cards">
  <div class="card" *ngFor="let funcionario of funcionarios">
    <h3>{{ funcionario.nome }}</h3>
    <div class="image">
      <img src="{{ funcionario.foto }}" />
    </div>
    <p id="highlight">{{ funcionario.cargo }}</p>
    <p>{{ funcionario.idade }} anos</p>
    <p>Naturalidade: {{ funcionario.naturalidade }}</p>
    <p>Admitido em {{ funcionario.anoAdmissao }}</p>
    <p>Hobbie: {{ funcionario.hobbie }}</p>
    <a routerLink="/funcionarios/editar/{{ funcionario._id }}"
      ><button>Editar</button></a
    >
    <button (click)="excluir(funcionario._id!)">Excluir</button>
  </div>
</div>
