* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.form-card {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-group {
  text-align: left;
  font-size: 18px;
  padding: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  font-size: 16px;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 3px;
}

.form-group input[type="checkbox"] {
  width: auto;
  margin-right: 0.5rem;
}

.form-group textarea {
  min-width: 100%;
  max-width: 100%;
}

.form-group label:hover {
  color: rgb(95, 95, 95);
  transition: 0.3s;
}

.form-group label:hover,
input:hover,
textarea:hover {
  border-color: rgb(95, 95, 95);
  transition: 0.3s;
}

.form-group input:focus,
textarea:focus {
  background-color: rgb(236, 236, 236);
}

.error-message {
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 50, 50);
  margin-left: 2.5rem;
  margin-bottom: 3px;
}

.form-card button[type="submit"] {
  margin-top: 1.5rem;
}

.button {
  text-align: center;
}

button {
  margin-right: 2rem;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.7rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
}

button:hover {
  transition: 0.3s;
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(24, 180, 180);
  color: rgb(24, 180, 180);
}

h1 {
  text-align: center;
  margin-top: 2rem;
  color: rgb(95, 95, 95);
}

h2 {
  color: rgb(24, 180, 180);
  font-size: 48px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
